.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  width: 100%;
  /* background-image: linear-gradient(to bottom right, #aa00ff, #820bbb); */
  /* background-color: #820bbb; */

  /* --primColor: #b700ff; */
  --primColor: #9900ff;
  /* --primColor: #6441a5; */
  --primBg1: #820bbb;
  --primBg2: #470764;

  background-image: linear-gradient(to bottom, var(--primBg1), var(--primBg2));
}
* {
  border: 0;
}
